
*.doc
*.docx
*.pptx
Example-Code/introduction-to-python/.ipynb_checkpoints/introduction-to-python-checkpoint.ipynb
Example-Code/.DS_Store
Example-Code/introduction-to-python/.ipynb_checkpoints/house-listings-checkpoint.ipynb
